---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import FullScreenRow from "@/components/rows/FullScreenRow.astro";
import { Icon } from "astro-icon/components";

const { data } = await getEntry("pages", "contact");
const { meta_title, meta_description, furries } = data;
console.log(furries);
const { data: footerData } = await getEntry("data", "footer");
---

<BaseLayout
  title={meta_title}
  description={meta_description}
  scroll_speeds={{ nav: 0, footer: 0 }}
  footer={false}
>
  <FullScreenRow
    rowClass="bg-[radial-gradient(ellipse_at_left_top,rgba(76,201,240,0.4)_0%,rgba(0,0,0,0)_50%)] relative z-30"
    containerClass="max-w-6xl"
  >
    <div
      class="z-50 w-full md:px-10 min-h-[800px] flex flex-col
    justify-center gap-6"
      data-scroll
      data-scroll-speed={0}
    >
      <h1
        class="text-7xl sm:text-8xl md:text-9xl uppercase font-black
text-transparent bg-clip-text text-white drop-shadow-custom font-heading lg:w-full mr-auto text-left"
      >
        Contact us
      </h1>
      <a
        class="text-4xl font-bold underline break-words"
        href="mailto:hello@supermassive.uk">hello@supermassive.uk</a
      >
      <p class="text-4xl font-bold">(+44) 7799 032 962</p>
      <div class="flex gap-2 items-center">
        {
          footerData.social_links.map((social_link: any) => (
            <a
              class="cursor-pointer hover:scale-125"
              href={social_link.url}
              aria-label={social_link.label}
            >
              <Icon name={social_link.icon} size={50} />
            </a>
          ))
        }
      </div>
    </div>
  </FullScreenRow>
</BaseLayout>
