---
import Footer from "@/components/footer/Footer.astro";
import BaseHead from "@/components/head/BaseHead.astro";
import NavBar from "@/components/nav/NavBar.astro";
import { getEntry } from "astro:content";
import { navigate } from "astro:transitions/client";

interface Props {
  title: string;
  description: string;
  type?: string;
  scroll_speeds: Record<string, number>;
  footer?: boolean;
}

const {
  title,
  description,
  type = "website",
  scroll_speeds,
  footer = true,
} = Astro.props;
---

<html lang="en">
  <BaseHead title={title} description={description} type={type} />
  <body
    class="min-h-screen w-screen overflow-x-hidden p-0"
    data-scroll-container
  >
    <NavBar scroll_speed={scroll_speeds.nav} />
    <main
      class="max-w-6xl mx-auto mt-0 pt-0 w-full relative overflow-hidden md:overflow-visible"
      id="page"
      data-scroll-section
    >
      <slot />
    </main>
    {footer && <Footer scroll_speed={scroll_speeds.footer} />}
    <script>
      import scroller from "../lib/scroller";
      console.log("scroller", scroller);
      document.addEventListener("DOMContentLoaded", function () {
        function ScrollUpdateDelay() {
          setTimeout(function () {
            scroller.update();
          }, 500);
        }

        ScrollUpdateDelay();
      });
    </script>
  </body>
</html>
